.coverage
*.c
*.so
build
bayesian_quadrature.egg-info
docs/source/bq_mean.rst
docs/source/bq_var.rst
docs/source/bq_expected_variance.rst
docs/source/visual-tests.rst
docs/source/example.rst
docs/source/*_files/
docs/ipynb/*.rst
docs/ipynb/*_files/
docs/_build
htmlcov
