language: python
python:
  - "2.7"
virtualenv:
  system_site_packages: true

# Using apt doesn't help for Python 3.3, because the packages on Precise
# are compiled for 3.2. This uses Miniconda to install numpy & pandas.
# Cribbed from https://gist.github.com/dan-blanchard/7045057

# Setup anaconda
before_install:
- sudo apt-get -qq update
- sudo apt-get -qq install libatlas-dev libatlas-base-dev liblapack-dev libblas-dev gfortran
#- if [ ${TRAVIS_PYTHON_VERSION:0:1} == "2" ]; then wget http://repo.continuum.io/miniconda/Miniconda-2.0.3-Linux-x86_64.sh -O miniconda.sh; else wget http://repo.continuum.io/miniconda/Miniconda3-2.0.3-Linux-x86_64.sh -O miniconda.sh; fi
- wget http://repo.continuum.io/miniconda/Miniconda-2.0.0-Linux-x86_64.sh -O miniconda.sh
- chmod +x miniconda.sh
- ./miniconda.sh -b
- export PATH=/home/travis/anaconda/bin:$PATH
# Install packages
install:
- conda install --yes pip python=$TRAVIS_PYTHON_VERSION numpy scipy sympy matplotlib cython
- pip install -r requirements.txt --use-mirrors
- pip install pytest pytest-cov coveralls
- python setup.py build_ext --inplace

script: 
- xvfb-run --server-args="-screen 0 1024x768x24" py.test --cov bayesian_quadrature

after_success: 
- coveralls
